<div *ngIf="categories.length > 0; else noCategory">
  <table class="table table-hover table-bordered my-3">
    <tbody>
      <tr [class.table-active]="isActiveAllCategories">
        <td>
          All Categories
        </td>
      </tr>
      <tr *ngFor="let category of categories" (click)="selectCategory(category)" [class.table-active]="category == selectedCategory" routerLink="productlist/category/{{category.id}}">
        <td>{{category.name}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noCategory>
  <p class="alert alert-danger">
    Mevcut Kategori yok
  </p>
</ng-template>
